/* 

SUMMARY :

01 - Header
02 - First Section
03 - About Us
04 - Our Team
05 - Partners
06 - Pricings
07 - testimonials
08 - Footer

OTHER :
FONT
RESET
BACKGROUND-COLOR

*/

:root{
    --main-bg-color: #04293B;
    --cta-color: #ECB364;
    --secondary-bg-color : #064662;
    --pricing-starter_entreprise-color : #06466278;
}

/* FONT */
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
/* END FONT */

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
}
/* End reset */
/* BACKGROUND-COLOR */
body{
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}
/* End background color */
/* 01 - Header */
header{
    display: flex;
    justify-content:space-between;
    padding: 20px 20px;
    color: #fff;
    align-items: center;
    position: sticky;
    top:0;
    background-color: var(--main-bg-color)
}

header ul {
    
    justify-content: space-around;
    width: 100vw;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    height: 0%;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: var(--main-bg-color);
}
header ul li{

    height:100%;
    
}

header ul a{
    color: #fff;
    border: solid 2px;
    height:100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin:auto;
    justify-content: center;
}
header nav label{
    color: #fff;
}
#burger{
    display: none;
}
#burger:checked ~ ul{
    display: flex;
    opacity: 1;
    height: calc(100vh - 77px);
    transition: 1s;
}
@media screen and (min-width:1024px){
    header nav label{
        display: none;
    }
    header nav{
        width: 60%;
        max-width: 600px;
    }
    header ul {
        display: flex;
        position: initial;
        transform: translateY(0);
        flex-direction: row;
        height: 100%;
        opacity: 1;
        width: 100%;
        align-items: center;
        
    }
    header ul a{
        border: none;
    }
    .pricingLink{
        background-color: var(--cta-color);
        padding: 5px 10px;
        border-radius: 30px;
        font-weight: bold;
    }
}
/* End header */


/* 02 - First Section */
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(70vh - 77px);
    width: 80%;
    margin: auto;
}
.firstSection img{
    display: none;
}

.firstSection .text{
    color: #fff;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
    
}
.firstSection .text h2{
    font-size: 36px;
    margin-bottom: 15px;
    font-family: Ubuntu;
}
.firstSection .text p{
    font-size: 16px;
    margin-bottom: 15px;
}
.firstSection .text button{
    width: 240px;
    height: 60px;
    background-color: var(--cta-color);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    margin: auto;
}
#waves{
    width: 100%;
    height: 40vh;
}
@media screen and (min-width:1024px){
    .firstSection .text{
        text-align:left;
    }
    .firstSection .text h2{
        font-size: 48px;
    }
    .firstSection .text p{
        width: 70%;
        font-size: 24px;
    }
    .firstSection img{
        display: block;
        max-width: 560px;
        width: 50%;
    }
    .firstSection .text button{
        margin: 0;
    }
}

/* End first Section */

/* 03 - About Us */
.aboutUs{
    color: #fff;
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 14px;
    padding: 50px 0;
}
.aboutUs h2{
    font-size: 24px;
    font-family: Ubuntu;
}
.aboutUs img{
    width: 100%;
}
.aboutUs p{
    margin: 15px 0;
}
.aboutUs a{
    color: var(--cta-color);
}
@media screen and (min-width:1024px){
    .aboutUs{
        width: 85%;
    }
    .aboutUs img{
        width: 45%;
    }
    .aboutUs h2{
        font-size:36px;
    }
    .aboutUs .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        font-size: 18px;
    }
    .aboutUs .content .text{
        width:45%;
    }
}
/* End About us */

/* 04 - Our Team */
.paralax{
    background-image: url("../img/ourTeamBg.jpg"); /* Our Team background*/
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}

.ourteam{
    background-color: var(--main-bg-color);
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
}
.allMembers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.member{
    margin-bottom: 25px;
}
.member h3{
    margin-bottom: 5px;
}
.member img{
    width: 80%;
}
.ourteam h2{
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-size: 24px;
}
@media screen and (min-width:1024px){
    .ourteam{
        padding: 25px 0;
    }
    .paralax{
        background-attachment: fixed;
        height: 70vh;
    }
}
/* End Our team */

/* 05 - Partners */
.workWith{
    color: #fff;
    padding: 50px 0;
    text-align: center;
}
.workWith h2{
    font-family: Ubuntu;
    font-size: 24px;
    margin-bottom: 20px;
}
.workWith .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.workWith .images img{
    width: 40%;
    max-width:250px;
    height:100%;
    margin: 15px;

}
/* End Partners */
/* 06 - Pricings */
.pricings{
    padding-bottom: 50px;
}

.pricings article{
    width: 235px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: auto;
    padding: 15px;
    background-color: var(--secondary-bg-color);
    margin: 10px;
    align-items: center;

}
.pricings article:nth-child(1){
    display:none;
}
.pricings h2{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-size: 24px;
}
.pricings div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pricings article h3{
    color: var(--cta-color);
}
.pricings article span{
    color: #fff;
}
.pricings article .info{
    display:none;
}
.pricings article button{
    background-color: var(--cta-color);
    color: #fff;
    padding: 10px 25px;
    width:65%;
    margin: auto;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    margin-top: 15px;
}
@media screen and (min-width:1024px){
    .pricings article{
        flex-direction: column;
        text-align: center;
        background:var(--pricing-starter_entreprise-color);
    }
    .pricings article h3{
        margin-bottom: 15px;
    }
    .pricings article .info{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        color: #fff;
    }
    .pricings article .info li{
        margin-bottom: 35px;
    }
    .pricings article:nth-child(1){
        display: block;
        text-align: left;
        background: none;
    }
    .pricings article:nth-child(1) h3, .pricings article:nth-child(1) span{
        opacity: 0;
    }
    .pricings article:nth-child(3){
        box-shadow: 20px 22px 24px rgba(23, 18, 63, 0.120028);
        background-color: var(--secondary-bg-color);
        padding: 50px 0;
    }
}
/* End Pricings */
/* 07 - Testimonials */
.testimonials{
    padding-bottom: 50px;
    
}

.testimonials h2{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-size: 24px;
}
.testimonials .testi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 85%;
    margin: auto;
}

.testimonials article{
    width: 85%;
    max-width: 350px;
    background-color:var(--secondary-bg-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    
}
.testimonials article p{
    font-size: 16px;
}
.testimonials article div{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.testimonials article div img:nth-child(1){
    width: 25%;
}
.testimonials article div img:nth-child(2){
    width: 70%;
}
/* End testimonials */
/* 08 - Footer */
footer{
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #031C32;
    border-top: solid 1px;
}
footer h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Ubuntu;
}
footer .social{
    width: 70%;
    max-width: 430px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
footer a{
    color: #fff;
}
/* End footer */